@page "/"

<PageTitle>PokeBusca</PageTitle>

<h1>Bem-vindo ao PokeBusca!</h1>

Este é um aplicativo simples com o intuido de aprender novas ferramentas e melhorar em outras.
<br />
<br />
Esse aplicativo reune basicamente as informações contidas em uma API de Pokémon (PokéAPI).
<br />
<br />
Fique a vontade para explorar!!